/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/sandbox/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_practiceContainer__fv9yJ {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page_practiceContainer__fv9yJ h1 {
  text-align: center;
  color: #a534d5;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

