.about-page-container {
    color: var(--secondary-bg);
}

.page-section.ap-bio-sect{
    margin-bottom: 3rem;
}

.ap-bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.ap-bio-content {
    font-family: var(--secondary-font);
    font-size: clamp(0.6em, 2vw, 1em);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ap-heading,
.ap-service-link h2 {
    font-size: clamp(1.2em, 8vw, 2em);
}

.playlist-card-container {
    width: 100%;
    height: 25.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.playlist-heading {
    font-size: clamp(0.3rem, 8vw, 1.5rem);
}

.ap-spotify-player {
    width: 45%;
    max-height: 75vh;
}

@media screen and (max-width: 768px) {
    .page-section.ap-bio-sect,
    .page-section.ap-playlist-sect {
        margin-bottom: 1.5rem;
    }

    .playlist-card-container {
        height: 22.9rem;
    }

    .ap-spotify-player {
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    .ap-playlist-sect {
        margin-bottom: 0;
    }
    
    .ap-bio-container {
        padding: 1em 0.5em 0;
    }

    .playlist-card-container {
        height: 22rem;
    }

    .ap-spotify-player {
        width: 85%;
    }
}