.footer-container {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: auto;
}

.footer-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}