.footer-container {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: auto;
}

.footer-content {
    color: aliceblue;
}

@media screen and (max-width: 480px) {
    .footer-container {
        width: 100%;
    }    
}