.form-card {
    font-size: 0.7em;
    border: solid white 2px;
    color: var(--body-bg);
    background-color: #fff;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
}

.form-desc {
    font-family: var(--secondary-font);
    width: 50%;
    padding-bottom: 22%;
}

.main-form {
    width: 50%;
}

@media screen and (max-width: 480px) {
   .form-card {
        flex-direction: column;
        padding: 0 ;
    }

    .main-form {
        width: 100%;
    }

    .form-desc {
        padding-bottom: 0;
        width: 90%;
        font-size: .7em;
    }
}