.front-page-container, .band-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section.fp-main {
    margin-bottom: 0;
}

.fp-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #000;
    position: relative;
    overflow: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/Pics/Headshot.jpeg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 28%;
        z-index: 1;
    }
}

.fp-headline {
    color: var(--primary-bg);
    position: relative;
    z-index: 2;
    padding-left: 15em;
}

.page-section.fp-contact-section {
    background-color:#fff;
    color: var(--body-bg);
    height: 25rem;
    justify-content: space-evenly;
    padding: 1em;
}

.fp-contact-heading {
    font-size: clamp(32px, 8vw, 60px);
}

@media screen and (max-width: 768px) {
    .fp-description{
        align-items: flex-start;
        &::before {
            background-position-x: 0%;
        }
    }

    .fp-headline {
        position: relative;
        padding: 2em 2em 0 12em;
    }
}

@media screen and (max-width: 480px) {
    .fp-description{
        &::before {
            opacity: 0.8;
        }
    }
    .fp-headline {
        padding: 42vh 0 0 0;
    }

    .page-section.fp-contact-section{
        height: auto;
        gap: 0.5em;
        margin-bottom: 0;
        padding: 0.8rem;
    }
}