/* @import url('./MusicPlayer.css'); */
@import url('./Layout.css');

/* Variables */
:root {
    font-size: 200%;
    font-family: "Reenie Beanie", "Arial", sans-serif;
    --secondary-font: "Nothing You Could Do", "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: #66249c;
    --secondary-color: #879ac6;
    --primary-bg: #f3f0f5;
    --secondary-bg: #d3d3d3;
    --body-bg: #302b35;
    --hover-color: #c800ff88;
    --btn-hover-transition: 0.2s ease-in-out;
    --btn-hover-transform: translateY(-1.1px);
    --btn-active-transform: translateY(0px); 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--secondary-bg);
}
