.navbar-container {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color) ;
  position: sticky;
  top: 0;
  color: var(--primary-bg);
  z-index: 100;
}

.hamburger-container {
  display: none;
  cursor: pointer;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 18%;
  display: flex;
  justify-content: center;
}

.nav-logo {
  height: 3rem;
  width: 3rem;
}

.nav-link-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.all-socials-container {
  display: flex;
  align-items: center;
  width: 40%;
}

ul.nav-link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  width: 1.5em;
  text-wrap: nowrap;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--hover-color);
  }

  &:active {
    color: var(--primary-color);
    transition: none;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

/* Small tablets and large phones */
@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  
 .navbar-container {
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .logo-container {
    grid-column: 2;
    justify-self: center;
    width: auto;
  }

  .nav-logo {
    height: 3rem;
    width: 3rem;
  }

  .nav-link-container,.all-socials-container {
    align-items: flex-start;
    position: fixed;
    width: 100%;
    right: 100%;
    z-index: 1000;
  }
  
  .nav-link-container{
    background-color: var(--secondary-color);
    top: 3.2rem;
    height: 100vh;

    &.nav-menu-open {
      right: 0;
    }
  }

  .nav-link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
  }

  .all-socials-container {
    bottom: 0;
    background-color: var(--secondary-color);
    align-items: center;
    height: 10vh;

    &.social-container-open {
      right: 0;
    }
  }
  
  .no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
  }

  .hamburger-container {
    display: grid;
    grid-column: 3;
    justify-self: end;
  }
}
