.services-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    font-size: 0.7em;
    color: var(--secondary-bg);
}

.skill-list-sect {
    align-items: flex-start;
    padding: 1rem 1em;
    margin-bottom: 0;
    gap: 1rem;
}

.skill-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & a {
       width: fit-content; 
    }
}

.skill-item p{
    font-family: var(--secondary-font);
}

.sp-contact-sect {
    background-color: #fff;
    color: var(--body-bg);
    justify-content: space-evenly;
    height: 30em;
    margin-bottom: 2em;
}

@media screen and (max-width: 480px) {
    .skill-list {
        height: fit-content;
    }

    .sp-contact-sect {
        height: 30em;
        margin-bottom: 0;
    }
}