.services-page-container {
    /* font-family: math; */
    /* font-size: 0.6em; */
    /* background-color: var(--secondary-color); */
    color: var(--secondary-bg);
}

.service-desc-sect {
    padding: 3em 2em 0;
    margin-bottom: 1rem;
}

.skill-list-sect {
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 22em;
    padding: 0 3em;
    margin-bottom: 0;
}

.skill-list {
    list-style: none;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sp-contact-sect {
    background-color: #fff;
    color: var(--body-bg);
    justify-content: space-evenly;
    height: 20em;
    margin-bottom: 2em;
}