.services-page-container {
    font-size: 0.7em;
    /* background-color: var(--secondary-color); */
    color: var(--secondary-bg);
}

.skill-list-sect {
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 22em;
    padding: 0 1em;
    margin-bottom: 0;
}

.skill-list {
    list-style: none;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill-item p{
    font-family: var(--secondary-font);
}

.sp-contact-sect {
    background-color: #fff;
    color: var(--body-bg);
    justify-content: space-evenly;
    height: 20em;
    margin-bottom: 2em;
}

@media screen and (max-width: 480px) {
    .skill-list-sect {
        height: 30em;
    }

    .skill-list {
        height: 19em;
    }
    
    .sp-contact-sect {
        height: 30em;
        margin-bottom: 0;
    }
}