.video-page {
    padding-top: 1em;
}

.vid-card-container {
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .vid-display {
        background-color: grey;
        height: 25em;
    }
}

.vid-text {
    padding: 1em 5em;
    width: 65%;
}

.vid-card-vid {
    width: 55%;
    height: 70%;
    border-radius: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
}

@media screen and (max-width: 480px) {
    .vid-card-container {
        height: 30em;
    }
    
    .vid-card-vid {
        width: 80%;
        height: 50%;
    }

    .vid-text {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .vid-card-vid {
        width: 70%;
        height: 65%;
    }
    
    .vid-text {
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    .vid-card-vid {
        width: 65%;
    }
    
    .vid-text {
        width: 80%;
    }
}