.vid-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 55%;
    min-height: 16em;
}

.vid-text {
    width: 100%;
}

.vid-card-description {
    font-family: var(--secondary-font);
    font-size: clamp(.5rem, 3vw, 1rem);
}

.vid-card-vid {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0.5em;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
}

@media screen and (max-width: 768px) {
    .vid-card-container {
        width: 100%;
    }
    
    .vid-text {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .vid-card-container {
        height: 17em;
    }
    
    .vid-card-vid {
        height: 40%;
    }

    .vid-text {
        width: 100%;
        text-align: center;
    }
}